*{
    margin: 0pix;
    font-family: "inter";
}

#titulomenusuperior{
    margin-left: 50px;
    padding-top: 50px;
  
}

#textomenusuperior{
    margin-left: 50px;
    padding-top: 20px;
    padding-top: 100px;
}

#menusuperior{
    background-color: #303030;
    color: aliceblue;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    }

#textoinformativo{
    display: flex;
    align-items: center;
}

#imagem{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoimagem{
    margin-top: 200px;
    width: 500px;
    margin-left: 60px;
}

.imagem{
    width: 450px;
    margin-left: 150px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#fundoformulario{
    background-color: black;
    padding: 15px;
    
}

#titulo{
    font-size: 20px;
    margin: 25px;
    padding-top: 50px
    color: #FFFFFF
}

#formulario{
    text-aling: center;
    background-color: #303030;
}

input{
    Width: 300px;
    Height: 40px;
    margin: 15px;
    background-color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #C07212;
    color: #EAECE5;
    Width: 250px;
    Height: 40px;
    border: 0px;
    border-radius: 5px;
    margin-botton: 50px;
    cursor: pointer;
    font-weigth: bolder;
 }

 button:hover{
    background-color: #FF8C00;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0,5s;
 }
