*{
    margin: 0pix;
    font-family: "inter";
}

#titulomenusuperior{
    margin-left: 40px;
    margin-top: 0px;
    font-size: 48px;
   
}

#textomenusuperior{
    margin-left: 40px;
    margin-top: 50px;
    font-size: 17px;
}

#menusuperior{
    background-color: black;
    color: aliceblue;
    padding: 100px;
}

#menuinformacional{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 25px;
    }

#textoinformativo{
    display: flex;
    align-items: center;
}

#imagem{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoimagem{
    margin-top: 200px;
    width: 500px;
    margin-left: 60px;
}

.imagem{
    width: 450px;
    margin-left: 150px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#fundoformulario{
    background-color: black;
    padding: 15px;
    
}

#titulo{
    color: white;
    text-align: center;
    
}

#formulario{
    margin-left: 430px;
}

input{
    Width: 350px;
    Height: 50px;
    margin: 15px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #C07212;
    color: white;
    Width: 250px;
    Height: 60px;
    border: 0px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 80px;
    cursor: pointer;
    margin-left: 480px;
 }

 button:hover{
    background-color: #e28811;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #6b3f06;
    transition-duration: 0,7s;
 }
